<section class="s-exp show-pc">
    <div class="s-exp-main" data-aos="fade-up">
        <div class="s-exp-sta">
            <div class="s-exp-sta-title">THRILL<br />EXPLORE</div>
            <div class="s-exp-sta-des">Aliqua pariatur aliquip ea laboris est in eu consectetur exercitation magna ex laboris proident Lorem veniam ullamco nulla cillum et adipisicing consectetur culpa Lorem deserunt.</div>
        </div>
        <div class="s-exp-banner">
            <div class="swiper expSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="s-exp-img" src={`${import.meta.env.BASE_URL}/img/s/exp-01.jpg`} />
                        <div class="s-exp-position">
                            <h2>Minim culpa</h2>
                            <div class="s-exp-list">
                                <div class="s-exp-list-item type">
                                    <div class="s-exp-list-item-des">Minim culpa ad incididunt eu.</div>
                                </div>
                                <div class="s-exp-list-item">
                                    <div class="s-exp-list-item">
                                        <div class="s-exp-wrap">
                                            <div class="s-exp-more"><a href="#">Learn more></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img class="s-exp-img" src={`${import.meta.env.BASE_URL}/img/s/exp-02.jpg`} />
                        <div class="s-exp-position">
                            <h2>Aute id</h2>
                            <div class="s-exp-list">
                                <div class="s-exp-list-item type">
                                    <div class="s-exp-list-item-des">Incididunt do minim.</div>
                                </div>
                                <div class="s-exp-list-item">
                                    <div class="s-exp-list-item">
                                        <div class="s-exp-wrap">
                                            <div class="s-exp-more"><a href="#">Learn more></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img class="s-exp-img" src={`${import.meta.env.BASE_URL}/img/s/exp-03.jpg`} />
                        <div class="s-exp-position">
                            <h2>In magna</h2>
                            <div class="s-exp-list">
                                <div class="s-exp-list-item type">
                                    <div class="s-exp-list-item-des">Eiusmod cillum ea enim aute.</div>
                                </div>
                                <div class="s-exp-list-item">
                                    <div class="s-exp-list-item">
                                        <div class="s-exp-wrap">
                                            <div class="s-exp-more"><a href="#">Learn more></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="s-exp-position-new">NEW</div>
                    </div>
                    <div class="swiper-slide">
                        <img class="s-exp-img" src={`${import.meta.env.BASE_URL}/img/s/exp-04.jpg`} />
                        <div class="s-exp-position">
                            <h2>Irure tempor</h2>
                            <div class="s-exp-list">
                                <div class="s-exp-list-item type">
                                    <div class="s-exp-list-item-des">Elit exercitation proident tempor.</div>
                                </div>
                                <div class="s-exp-list-item">
                                    <div class="s-exp-list-item">
                                        <div class="s-exp-wrap">
                                            <div class="s-exp-more"><a href="#">Learn more></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next exp-next"></div>
        <div class="swiper-button-prev exp-prev"></div>
    </div>
</section>
