<section class="s-kv">
    <div class="s-kv-main">
        <img class="s-kv-img show-pc" src={`${import.meta.env.BASE_URL}/img/s/kv-01.jpg`} />
        <img class="s-kv-img show-mob" src={`${import.meta.env.BASE_URL}/img/s/kv-02.jpg`} />
        <img class="s-kv-arrow" src={`${import.meta.env.BASE_URL}/img/s/arrow.png`} />
        <div class="s-kv-title">
            FEAR<br />NO<br />PLACE.
        </div>
    </div>
</section>
