<section class="n-city n-distance n-container">
    <h2 class="n-title" data-aos="fade-up">CITY MOBILITY</h2>
    <div class="city-bg" data-aos="fade-up">
        <img src="/img/n/n-city-01.jpg" alt="">
    </div>
    <div class="city-summary" data-aos="fade-up">
        <h3 class="summary-title white">Sint pariatur quis proident laborum ullamco anim ullamco</h3>
        <p class="n-desc white">Minim sunt elit exercitation laboris ex laboris amet laborum sit ex cillum irure. Qui non aute deserunt consequat ex qui exercitation amet ex labore cillum minim ut occaecat. </p>
        <a class="n-more" href="javascript:;" >Learn More <img src="/img/n/icon/arrow-red.svg" alt="" /></a>
    </div>
</section>