<section class="n-about-mob n-distance n-container show-mob">
    <h2 class="n-title mob-title" data-aos="fade-up">ABOUT NINEBOT</h2>
    <div class="about-contanier" data-aos="fade-up">
        <div class="about-row">
            <div class="about-col">
                <div class="about-item">
                    <img src="./img/n/n-about-01-mob.jpg" alt="" />
                    <div class="about-content">
                        <h1 class="n-description white">Simply Moving</h1>
                    </div>
                    <div class="video-btn video-btn-about"></div>
                </div>
            </div>
            <div class="about-col">
                <div class="about-item">
                    <img src="./img/n/n-about-02-mob.jpg" alt="" />
                    <div class="about-content about-content-mob">
                        <h1 class="n-description white">Innovation</h1>
                    </div>
                </div>
            </div>
            <div class="about-col">
                <div class="about-item">
                    <img src="./img/n/n-about-03-mob.jpg" alt="" />
                    <div class="about-content about-content-mob">
                        <h1 class="n-description white">User Story</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
