<section class="n-new n-distance n-container">
    <div class="new-content">
        <div class="new-row">
            <div class="new-col">
                <div class="new-item">
                    <div class="new-bg-img">
                        <img src="/img/n/n-new-01.jpg" alt="" />
                    </div>
                    <div class="new-summary">
                        <p class="n-desc">Text description Text description Text description Text description Text description Text description</p>
                        <div class="btn-group">
                            <a class="n-more" href="">Learn More <img src="/img/n/icon/arrow-red.svg" alt="" /></a>
                            <a class="n-buy-btn" href="">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-col">
                <div class="new-item">
                    <div class="new-bg-img">
                        <img src="/img/n/n-new-02.jpg" alt="" />
                    </div>
                    <div class="new-summary">
                        <p class="n-desc">Text description Text description Text description Text description Text description Text description</p>
                        <div class="btn-group">
                            <a class="n-more" href="">Learn More <img src="/img/n/icon/arrow-red.svg" alt="" /></a>
                            <a class="n-buy-btn" href="">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
