<header class="n-header">
    <nav class="nav">
        <div class="nav-logo">
            <div class="logo-s"><img src="/img/n/icon/logo-full-s.png" /></div>
            <div class="logo-n"><img src="/img/n/icon/logo-full-n.png" /></div>
        </div>
        <div class="nav-right">
            <ul class="nav-menu">
                <li class="nav-item"><a class="nav-link" href="javascript:;" >Explore</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;" >Where to buy</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;" >Support</a></li>
            </ul>
            <div class="user-logo"><img src="/img/n/icon/user.svg" alt="" /></div>
            <a href="javascript:;"  class="share-btn">Share</a>
        </div>
    </nav>
</header>