<section class="n-about n-distance n-container">
    <h2 class="n-title" data-aos="fade-up">ABOUT NINEBOT</h2>
    <div class="about-bg" data-aos="fade-up">
        <img src="/img/n/n-about-01.jpg" alt="">
    </div>
</section>