<section class="n-kv">
    <div class="kv-content">
        <h1 class="kv-description">Simply Moving<span class="show-mob">.</span> </h1>
        <div class="n-desc show-mob"> <span>FASTER THAN FVER. </span>IONG RANGE <br>ELECTRIC GETS YOU WHERE YOU'RE<br> GOING</div>
        <div><a class="n-more show-mob" href="javascript:;" >Learn More <img src="./img/n/icon/arrow-red.svg" alt="" /></a></div>
    </div>
    <div class='kv-bg'>
        <img class="show-pc" src="./img/n/n-kv.jpg" />
        <img class="show-mob" src="./img/n/n-kv-mob.jpg" />
    </div>
    <div class="video-btn video-btn-kv"></div>
    <div class="kv-pagination show-mob">
        <span class="pagination-item active"></span>
        <span class="pagination-item"></span>
        <span class="pagination-item"></span>
        <span class="pagination-item"></span>
    </div>
</section>