<footer class="n-footer">
    <div class="footer-row">
        <div class="footer-col">
            <div class="footer-item">
                <a href="javascript:;" class="link-n">NINEBOT</a>
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-item">
                <div class="footer-line"></div>
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-item">
                <a href="javascript:;" class="link-s">SEGWAY</a>
            </div>
        </div>
    </div>
</footer>