<section class="n-about n-distance n-container show-pc">
    <h2 class="n-title" data-aos="fade-up">ABOUT NINEBOT</h2>
    <div class="about-contanier" data-aos="fade-up">
        <img src={`${import.meta.env.BASE_URL}/img/n/n-about-01.jpg`} alt="" />
                <div class="about-content">
                    <h1 class="n-description white">Simply Moving</h1>
                </div>
                <div class="video-btn video-btn-about"></div>
            </div>
        </div>
    </div>
</section>
