<section class="n-new n-distance n-container">
    <div class="new-content">
        <div class="new-row">
            <div class="new-col">
                <div class="new-item" data-aos="fade-up">
                    <div class="new-bg-img" >
                        <img src="./img/n/n-new-01.jpg" alt="" />
                    </div>
                    <div class="new-summary" data-aos="fade-up">
                        <p class="n-desc">Sit anim officia velit voluptate occaecat aute exercitation tempor laborum velit irure ex reprehenderit ex.</p>
                        <div class="btn-group">
                            <a class="n-more" href="javascript:;" >Learn More <img src="./img/n/icon/arrow-red.svg" alt="" /></a>
                            <a class="n-buy-btn" href="javascript:;" >Buy</a>
                        </div>
                    </div>
                    <div class="n-tip" data-aos="fade-up">NEW</div>
                </div>
            </div>
            <div class="new-col">
                <div class="new-item">
                    <div class="new-bg-img" data-aos="fade-up">
                        <img src="./img/n/n-new-02.jpg" alt="" />
                    </div>
                    <div class="new-summary" data-aos="fade-up">
                        <p class="n-desc">Nostrud qui aliqua velit do ut voluptate aliqua quis. Id est ipsum ad magna et in et qui est consectetur. </p>
                        <div class="btn-group">
                            <a class="n-more" href="javascript:;" >Learn More <img src="./img/n/icon/arrow-red.svg" alt="" /></a>
                            <a class="n-buy-btn" href="javascript:;" >Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
