<section class="n-kv">
    <div class="kv-content">
        <h1 class="kv-description white">Simply Moving</h1>
    </div>
    <div class='kv-bg'><img src="/img/n/n-kv.jpg" /></div>
    <div class="video-btn video-btn-kv"></div>
</section>