<header class="n-header">
    <!-- <nav class="nav">
        <div class="nav-logo">
            <div class="logo-s">SEGWAY</div>
            <div class="logo-n">NINEBOT</div>
        </div>
        <div class="nav-right">
            <ul class="nav-menu">
                <li class="nav-item"><a class="nav-link" href="">Explore</a></li>
                <li class="nav-item"><a class="nav-link" href="">Where to buy</a></li>
                <li class="nav-item"><a class="nav-link" href="">Support</a></li>
            </ul>
            <div class="user-logo"><img src="/img/n/icon/user.svg" alt="" /></div>
            <div class="share"></div>
        </div>
    </nav> -->
</header>