<div class="container">
    <div class="img-wrap">
        <section class="airpods-sequence">
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0001.jpg" class="airpods-frame airpods-frame--0001 airpods-frame--active" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0002.jpg" class="airpods-frame airpods-frame--0002" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0003.jpg" class="airpods-frame airpods-frame--0003" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0004.jpg" class="airpods-frame airpods-frame--0004" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0005.jpg" class="airpods-frame airpods-frame--0005" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0006.jpg" class="airpods-frame airpods-frame--0006" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0007.jpg" class="airpods-frame airpods-frame--0007" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0008.jpg" class="airpods-frame airpods-frame--0008" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0009.jpg" class="airpods-frame airpods-frame--0009" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0010.jpg" class="airpods-frame airpods-frame--0010" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0011.jpg" class="airpods-frame airpods-frame--0011" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0012.jpg" class="airpods-frame airpods-frame--0012" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0013.jpg" class="airpods-frame airpods-frame--0013" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0014.jpg" class="airpods-frame airpods-frame--0014" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0015.jpg" class="airpods-frame airpods-frame--0015" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0016.jpg" class="airpods-frame airpods-frame--0016" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0017.jpg" class="airpods-frame airpods-frame--0017" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0018.jpg" class="airpods-frame airpods-frame--0018" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0019.jpg" class="airpods-frame airpods-frame--0019" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0020.jpg" class="airpods-frame airpods-frame--0020" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0021.jpg" class="airpods-frame airpods-frame--0021" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0022.jpg" class="airpods-frame airpods-frame--0022" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0023.jpg" class="airpods-frame airpods-frame--0023" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0024.jpg" class="airpods-frame airpods-frame--0024" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0025.jpg" class="airpods-frame airpods-frame--0025" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0026.jpg" class="airpods-frame airpods-frame--0026" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0027.jpg" class="airpods-frame airpods-frame--0027" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0028.jpg" class="airpods-frame airpods-frame--0028" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0029.jpg" class="airpods-frame airpods-frame--0029" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0030.jpg" class="airpods-frame airpods-frame--0030" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0031.jpg" class="airpods-frame airpods-frame--0031" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0032.jpg" class="airpods-frame airpods-frame--0032" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0033.jpg" class="airpods-frame airpods-frame--0033" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0034.jpg" class="airpods-frame airpods-frame--0034" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0035.jpg" class="airpods-frame airpods-frame--0035" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0036.jpg" class="airpods-frame airpods-frame--0036" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0037.jpg" class="airpods-frame airpods-frame--0037" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0038.jpg" class="airpods-frame airpods-frame--0038" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0039.jpg" class="airpods-frame airpods-frame--0039" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0040.jpg" class="airpods-frame airpods-frame--0040" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0041.jpg" class="airpods-frame airpods-frame--0041" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0042.jpg" class="airpods-frame airpods-frame--0042" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0043.jpg" class="airpods-frame airpods-frame--0043" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0044.jpg" class="airpods-frame airpods-frame--0044" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0045.jpg" class="airpods-frame airpods-frame--0045" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0046.jpg" class="airpods-frame airpods-frame--0046" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0047.jpg" class="airpods-frame airpods-frame--0047" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0048.jpg" class="airpods-frame airpods-frame--0048" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0049.jpg" class="airpods-frame airpods-frame--0049" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0050.jpg" class="airpods-frame airpods-frame--0050" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0051.jpg" class="airpods-frame airpods-frame--0051" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0052.jpg" class="airpods-frame airpods-frame--0052" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0053.jpg" class="airpods-frame airpods-frame--0053" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0054.jpg" class="airpods-frame airpods-frame--0054" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0055.jpg" class="airpods-frame airpods-frame--0055" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0056.jpg" class="airpods-frame airpods-frame--0056" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0057.jpg" class="airpods-frame airpods-frame--0057" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0058.jpg" class="airpods-frame airpods-frame--0058" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0059.jpg" class="airpods-frame airpods-frame--0059" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0060.jpg" class="airpods-frame airpods-frame--0060" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0061.jpg" class="airpods-frame airpods-frame--0061" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0062.jpg" class="airpods-frame airpods-frame--0062" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0063.jpg" class="airpods-frame airpods-frame--0063" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0064.jpg" class="airpods-frame airpods-frame--0064" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0065.jpg" class="airpods-frame airpods-frame--0065" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0066.jpg" class="airpods-frame airpods-frame--0066" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0067.jpg" class="airpods-frame airpods-frame--0067" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0068.jpg" class="airpods-frame airpods-frame--0068" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0069.jpg" class="airpods-frame airpods-frame--0069" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0070.jpg" class="airpods-frame airpods-frame--0070" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0071.jpg" class="airpods-frame airpods-frame--0071" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0072.jpg" class="airpods-frame airpods-frame--0072" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0073.jpg" class="airpods-frame airpods-frame--0073" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0074.jpg" class="airpods-frame airpods-frame--0074" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0075.jpg" class="airpods-frame airpods-frame--0075" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0076.jpg" class="airpods-frame airpods-frame--0076" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0077.jpg" class="airpods-frame airpods-frame--0077" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0078.jpg" class="airpods-frame airpods-frame--0078" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0079.jpg" class="airpods-frame airpods-frame--0079" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0080.jpg" class="airpods-frame airpods-frame--0080" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0081.jpg" class="airpods-frame airpods-frame--0081" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0082.jpg" class="airpods-frame airpods-frame--0082" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0083.jpg" class="airpods-frame airpods-frame--0083" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0084.jpg" class="airpods-frame airpods-frame--0084" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0085.jpg" class="airpods-frame airpods-frame--0085" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0086.jpg" class="airpods-frame airpods-frame--0086" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0087.jpg" class="airpods-frame airpods-frame--0087" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0088.jpg" class="airpods-frame airpods-frame--0088" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0089.jpg" class="airpods-frame airpods-frame--0089" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0090.jpg" class="airpods-frame airpods-frame--0090" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0091.jpg" class="airpods-frame airpods-frame--0091" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0092.jpg" class="airpods-frame airpods-frame--0092" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0093.jpg" class="airpods-frame airpods-frame--0093" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0094.jpg" class="airpods-frame airpods-frame--0094" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0095.jpg" class="airpods-frame airpods-frame--0095" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0096.jpg" class="airpods-frame airpods-frame--0096" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0097.jpg" class="airpods-frame airpods-frame--0097" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0098.jpg" class="airpods-frame airpods-frame--0098" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0099.jpg" class="airpods-frame airpods-frame--0099" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0100.jpg" class="airpods-frame airpods-frame--0100" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0101.jpg" class="airpods-frame airpods-frame--0101" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0102.jpg" class="airpods-frame airpods-frame--0102" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0103.jpg" class="airpods-frame airpods-frame--0103" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0104.jpg" class="airpods-frame airpods-frame--0104" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0105.jpg" class="airpods-frame airpods-frame--0105" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0106.jpg" class="airpods-frame airpods-frame--0106" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0107.jpg" class="airpods-frame airpods-frame--0107" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0108.jpg" class="airpods-frame airpods-frame--0108" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0109.jpg" class="airpods-frame airpods-frame--0109" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0110.jpg" class="airpods-frame airpods-frame--0110" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0111.jpg" class="airpods-frame airpods-frame--0111" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0112.jpg" class="airpods-frame airpods-frame--0112" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0113.jpg" class="airpods-frame airpods-frame--0113" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0114.jpg" class="airpods-frame airpods-frame--0114" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0115.jpg" class="airpods-frame airpods-frame--0115" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0116.jpg" class="airpods-frame airpods-frame--0116" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0117.jpg" class="airpods-frame airpods-frame--0117" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0118.jpg" class="airpods-frame airpods-frame--0118" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0119.jpg" class="airpods-frame airpods-frame--0119" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0120.jpg" class="airpods-frame airpods-frame--0120" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0121.jpg" class="airpods-frame airpods-frame--0121" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0122.jpg" class="airpods-frame airpods-frame--0122" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0123.jpg" class="airpods-frame airpods-frame--0123" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0124.jpg" class="airpods-frame airpods-frame--0124" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0125.jpg" class="airpods-frame airpods-frame--0125" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0126.jpg" class="airpods-frame airpods-frame--0126" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0127.jpg" class="airpods-frame airpods-frame--0127" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0128.jpg" class="airpods-frame airpods-frame--0128" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0129.jpg" class="airpods-frame airpods-frame--0129" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0130.jpg" class="airpods-frame airpods-frame--0130" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0131.jpg" class="airpods-frame airpods-frame--0131" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0132.jpg" class="airpods-frame airpods-frame--0132" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0133.jpg" class="airpods-frame airpods-frame--0133" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0134.jpg" class="airpods-frame airpods-frame--0134" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0135.jpg" class="airpods-frame airpods-frame--0135" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0136.jpg" class="airpods-frame airpods-frame--0136" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0137.jpg" class="airpods-frame airpods-frame--0137" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0138.jpg" class="airpods-frame airpods-frame--0138" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0139.jpg" class="airpods-frame airpods-frame--0139" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0140.jpg" class="airpods-frame airpods-frame--0140" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0141.jpg" class="airpods-frame airpods-frame--0141" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0142.jpg" class="airpods-frame airpods-frame--0142" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0143.jpg" class="airpods-frame airpods-frame--0143" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0144.jpg" class="airpods-frame airpods-frame--0144" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0145.jpg" class="airpods-frame airpods-frame--0145" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0146.jpg" class="airpods-frame airpods-frame--0146" />
            <img src="https://www.apple.com/105/media/us/airpods-pro/2019/1299e2f5_9206_4470_b28e_08307a42f19b/anim/sequence/large/01-hero-lightpass/0147.jpg" class="airpods-frame airpods-frame--0147" />
        </section>
    </div>
    <section class="main-title">
        <h1>AirPods Pro</h1>
    </section>
    <section class="page-content">
        <div class="slide">
            <div class="slide__content">
                <h2>Réduction active du bruit pour un son profondément immersif.</h2>
            </div>
        </div>
        <!-- <div class="slide">
            <div class="slide__content">
                <h2>Mode Transparence pour entendre ce qu’il se passe autour de vous.</h2>
            </div>
        </div> -->
        <!-- <div class="slide">
            <div class="slide__content">
                <h2>Design personnalisable pour un confort optimal.</h2>
            </div>
        </div> -->
    </section>
</div>

<style lang="scss">
    @import "../../styles/_common.scss";
    .container {
        position: relative;
        background-color: #000;
        color: #fff;
        .img-wrap {
            z-index: 1;
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }
        .airpods-sequence {
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: vw(1158);
            height: vw(770);
        }

        .airpods-frame {
            display: block;
            margin: auto;
            top: 0;
            left: 50%;
            position: absolute;
            opacity: 0;
            height: 100%;
            transform: translateX(-50%);
        }

        .airpods-frame--active {
            opacity: 1;
        }

        .page-content {
            z-index: 3;
            position: relative;
            padding: 5rem;
            margin-top: -100vh;
        }

        .main-title {
            z-index: 3;
            position: relative;
            opacity: 0;
            text-align: center;
            height: 100vh;
            width: 100%;
            display: flex;
            margin-top: -100vh;
            margin-bottom: 150vh; // mettre de l'espace pour la séquence
            display: flex;
            align-items: center;

            h1 {
                width: 100%;
                font-size: 10vw;
                line-height: 1;
                font-weight: 700;
                font-family: "Helvetica", "Arial", sans-serif;
            }
        }

        .slide {
            max-width: 900px;
            margin: auto;
            height: 100vh;
            display: flex;
            align-items: flex-start;
        }

        .slide__content {
            display: flex;
            height: 100vh;
            align-items: center;

            h2 {
                font-size: 5vw;
                line-height: 1;
                font-weight: 700;
                font-family: "Helvetica", "Arial", sans-serif;
                text-align: center;
                color: #fff;
            }
        }
    }
</style>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
    ScrollTrigger.normalizeScroll(true);

    gsap.timeline().to(".airpods-sequence", { opacity: 1, duration: 1 }).to(".main-title", { opacity: 1, duration: 1 });

    // L'objet JS qui sera animé via GSAP
    const frameAnimation = {
        frame: 1,
    };

    // Animation de l'objet JS frameAnimation de 1 à 147  (le nombre d'images de la séquence)
    gsap.to(frameAnimation, {
        frame: 147, // animation de frameAnimation.frame de 1 à 147
        // animation en suivant le scroll
        scrollTrigger: {
            scrub: 0.5,
            endTrigger: ".page-content",
            end: "top top",
            // markers: true,
        },
        // à chaque "update" de la valeur de frameAnimation.frame
        onUpdate: function (tl) {
            // transfomation de la valeur de frameAnimation.frame
            // en un chiffre exploitable par exemple 4,34 devient 004
            const newFrameId = Math.round(frameAnimation.frame).toString().padStart(4, 0);
            // on cache la frame active en lui enlevant la class "airpods-frame--active"
            const activeSlide = document.querySelector(".airpods-frame--active");
            activeSlide.classList.remove("airpods-frame--active");
            // on affiche la frame qui correspone à la valeur de "newFrame"
            // on selctionne selon la class numérotée, par exemple .airpods-frame--004
            const nextFrame = document.querySelector(".airpods-frame--" + newFrameId);
            // on lui ajoute la class active
            nextFrame.classList.add("airpods-frame--active");
        },
    });

    gsap.to(".airpods-sequence", {
        scale: 0.8,
        // animation en suivant le scroll
        scrollTrigger: {
            scrub: 0.5,
            endTrigger: ".page-content",
        },
    });

    /**
     * Slides
     */
    // On boucle dans les slides
    // Info interessante : https://greensock.com/st-mistakes/#generic
    // Et on anim leurs apparitions selon le scroll
    const slides = gsap.utils.toArray(".slide");
    slides.forEach((slide) => {
        gsap.timeline({
            scrollTrigger: {
                trigger: slide,
                scrub: 0.5,
                start: "top top",
                // end: "bottom center",
                pin: true,
            },
        })
            .from(slide, { opacity: 0, y: 50 })
            .to(slide, { opacity: 0, y: -50 }, "+0.1");
    });
</script>
