.ninebot {
    // common
    line-height: 1.5;
    .n-container {
        margin: 0 auto;
        width: vw(1820);
    }
    .n-title {
        font-size: vw(48);
        margin-bottom: vw(30);
    }
    .n-desc {
        font-size: vw(16);
        color: #333;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: vw(48);
        margin: vw(10) 0;
    }
    .summary-title {
        font-size: vw(28);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .white {
        color: #fff !important;
    }
    .n-distance {
        margin-bottom: vw(80);
    }
    .n-more {
        color: #c51601;
        font-size: vw(16);
        img {
            display: inline-block;
            width: vw(15);
            vertical-align: middle;
            margin-left: vw(5);
        }
    }
    .n-tip {
        color: #c51601;
        position: absolute;
        left: vw(30);
        top: vw(20);
        font-size: vw(28);
    }
    .video-btn{
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        width: vw(80);
        height: vw(80);
        background: url("/img/n/icon/play-btn.png") no-repeat center center;
        background-size: vw(80) vw(80);
        &.video-btn-kv{
            top: auto;
            bottom: vw(50);
        }
    }
    // common end
    .n-header {
        width: vw(1320);
        margin: 0 auto;
        background-color: #fff;
        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: vw(78);
            .nav-logo {
                position: relative;
                display: flex;
                align-items: center;
                height: 100%;
                .logo-s,
                .logo-n {
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    height: 100%;
                    &.active,
                    &:hover,
                    &:active {
                        &::after {
                            content: '';
                            background: #c51601;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            left: 0;
                            bottom: 0;
                        }
                    }
                    img{
                        height: vw(70);
                    }
                }
                .logo-s {
                    margin-right: vw(20);
                    padding: 0 vw(10);
                    &.active,
                    &:hover,
                    &:active {
                        background-color: #000;
                        &::after {
                            content: '';
                            background: #c51601;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            left: 0;
                            top: 0;
                        }
                        .active-after{
                            display: block;
                        }
                        .active-before{
                            display: none;
                        }
                    }
                    img{
                        width: auto;
                        padding: vw(10) 0;
                        &.active-before{
                            display: block;
                        }
                        &.active-after{
                            display: none;
                        }
                    }

                }
            }
            .nav-right {
                display: flex;
                align-items: center;
                font-size: vw(16);
                color: #666;
                .nav-menu {
                    display: flex;
                    .nav-item {
                        margin: 0 vw(15);
                    }
                }
                .user-logo {
                    cursor: pointer;
                    width: vw(20);
                    margin: 0 vw(30) 0 vw(15);
                    .user-img {
                        vertical-align: center;
                    }
                }
                .share-btn {
                    background-color: #c51601;
                    color: #fff;
                    padding: 0 vw(15);
                    border-radius: vw(20);
                    line-height: vw(33);
                }
            }
        }
    }
    .n-sub-nav {
        font-size: vw(16);
        padding:vw(10) 0;
        border-bottom: 1px solid #dadada;
        .sub-nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: vw(1320);
            margin: 0 auto;
            .sub-nav-logo {
                width: vw(50);
                padding: vw(5);
            }
            .sub-nav-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .sub-nav-item {
                    margin-left:vw(60);
                }
            }
        }
    }
    .n-kv {
        position: relative;
        margin-bottom: vw(40);
        .kv-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .kv-description {
                font-size: vw(120);
                font-weight: 400;
            }
        }
    }
    .n-new {
        .new-content {
            .new-row {
                display: flex;
                margin: 0 vw(-13);
                .new-col {
                    width: 50%;
                    max-width: 50%;
                    flex: 0 0 50%;
                    padding: 0 vw(13);
                    .new-item {
                        position: relative;
                        .new-summary {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            background-color: rgba(255, 255, 255, 0.5);
                            padding: vw(30);
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            .n-desc {
                                flex: 0 0 60%;
                                width: 60%;
                                max-width: 60%;
                                margin: 0;
                            }
                            .btn-group {
                                flex: 0 0 40%;
                                width: 40%;
                                max-width: 40%;
                                text-align: right;
                                .n-buy-btn {
                                    font-size: vw(16);
                                    margin-left: vw(20);
                                    background-color: #fff;
                                    border-radius: vw(20);
                                    border: 1px solid #999;
                                    padding: vw(5) vw(15);
                                    line-height: vw(33);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .n-city {
        position: relative;
        .city-summary {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: vw(30);
            .n-desc {
                min-height: auto;
            }
        }
    }
    .n-fun,
    .n-explore {
        .fun-content {
            .fun-row {
                display: flex;
                margin: 0 vw(-13);
                .fun-col {
                    width: 33.33%;
                    max-width: 33.33%;
                    flex: 0 0 33.33%;
                    padding: 0 vw(13);
                    .fun-item {
                        position: relative;
                        .fun-img {
                            position: relative;
                            margin-bottom: vw(20);
                        }
                    }
                }
            }
        }
    }
    .n-about {
        position: relative;
        .about-bg {
            position: relative;
            .about-content {
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                .n-description {
                    font-size: vw(76);
                    font-weight: 400;
                }
            }
        }
    }

}
