.ninebot {
    // common
    line-height: 1.5;
    .hidden {
        opacity: 0;
        transition: opacity 0.5s;
    }
    .n-container {
        margin: 0 auto;
        width: vw(1820);
        @include mob() {
            width: vwm(720);
        }
    }
    .n-title {
        font-size: vw(48);
        margin-bottom: vw(30);
        @include mob() {
            font-size: vwm(48);
            margin-bottom: 0;
            padding: vwm(20) 0;
        }
    }
    .num-mob {
        line-height: vwm(50);
        color: #666;
        &.show-mob {
            @include mob() {
                display: inline-block !important;
            }
        }
    }
    .n-desc {
        font-size: vw(16);
        color: #333;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: vw(48);
        margin: vw(10) 0;
        @include mob() {
            font-size: vwm(24);
        }
    }
    .summary-title {
        font-size: vw(28);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include mob() {
            font-size: vwm(38);
        }
    }
    .white {
        color: #fff !important;
    }
    .n-distance {
        margin-bottom: vw(80);
        @include mob() {
            margin-bottom: 0;
        }
    }
    .n-more {
        color: #c51601;
        font-size: vw(16);
        @include mob() {
            font-size: vwm(24);
        }
        img {
            display: inline-block;
            width: vw(15);
            vertical-align: middle;
            margin-left: vw(5);
            @include mob() {
                width: vwm(30);
                margin-left: vwm(10);
            }
        }
    }
    .n-tip {
        color: #c51601;
        position: absolute;
        left: vw(30);
        top: vw(20);
        font-size: vw(28);
    }
    .video-btn {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        width: vw(80);
        height: vw(80);
        background: url('../img/n/icon/play-btn.png') no-repeat center center;
        background-size: vw(80) vw(80);
        @include mob() {
            width: vwm(130);
            height: vwm(130);
            background-size: vwm(130) vwm(130);
        }
        &.video-btn-kv {
            top: auto;
            bottom: vw(50);
            @include mob() {
                bottom: 27%;
            }
        }
    }
    .show-pc {
        @include mob() {
            display: none !important;
        }
    }

    .show-mob {
        display: none !important;
        @include mob() {
            display: block !important;
        }
    }
    .mob-title {
        @include mob() {
            font-size: vwm(60);
            font-weight: 700;
            margin-top: vwm(120);
            margin-bottom: vwm(20);
            padding: 0;
        }
    }
    .open-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: vwm(20);
        &.active {
            .line-b {
                display: none;
            }
        }
        .icon-line {
            width: vwm(40);
            height: 2px;
            background-color: #666;
            &.line-b {
                transform: rotate(90deg);
                margin-top: -2px;
            }
        }
    }
    .title-content {
        position: relative;
    }
    // common end
    .n-header {
        width: 100%;
        padding: 0 vw(300);
        background-color: #fff;
        position: sticky;
        top: 0;
        z-index: 999;
        @include mob() {
            padding: 0 vwm(15);
            background-color: #000;
        }
        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: vw(78);
            @include mob() {
                height: vwm(100);
                border-top: 2px solid #e80000;
                border-bottom: 1px solid #e80000;
            }
            .nav-logo {
                position: relative;
                display: flex;
                align-items: center;
                height: 100%;
                @include mob() {
                    padding: vwm(20) 0;
                }
                .logo-s,
                .logo-n {
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    height: 100%;
                    &.active,
                    &:hover,
                    &:active {
                        &::after {
                            content: '';
                            background: #c51601;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            left: 0;
                            bottom: 0;
                            @include mob() {
                                display: none;
                            }
                        }
                    }
                    img {
                        height: vw(55);
                        @include mob() {
                            height: vwm(60);
                        }
                    }
                }
                .logo-n {
                    &.active,
                    &:hover,
                    &:active {
                        @include mob() {
                            .show-pc {
                                display: block;
                            }
                            .show-mob {
                                display: none;
                            }
                        }
                    }
                }
                .logo-s {
                    margin-right: vw(20);
                    padding: 0 vw(10);
                    @include mob() {
                        padding-right: vwm(15);
                        margin-right: vwm(15);
                        border-right: 1px solid #999;
                    }
                    &.active,
                    &:hover,
                    &:active {
                        background-color: #000;
                        @include mob() {
                            background-color: transparent;
                        }
                        &::after {
                            content: '';
                            background: #c51601;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            left: 0;
                            top: 0;
                        }
                        .active-after {
                            display: block;
                        }
                        .active-before {
                            display: none;
                        }
                    }
                    img {
                        width: auto;
                        padding: vw(10) 0;
                        &.active-before {
                            display: block;
                        }
                        &.active-after {
                            display: none;
                        }
                    }
                }
            }
            .nav-right {
                display: flex;
                align-items: center;
                font-size: vw(16);
                color: #666;
                .nav-menu {
                    display: flex;
                    @include mob() {
                        display: none;
                    }
                    .nav-item {
                        margin: 0 vw(15);
                    }
                }
                .share-btn {
                    background-color: #c51601;
                    color: #fff;
                    padding: 0 vw(15);
                    border-radius: vw(20);
                    line-height: vw(33);
                    @include mob() {
                        display: none;
                    }
                }
            }
            .user-logo {
                cursor: pointer;
                width: vw(20);
                margin: 0 vw(30) 0 vw(15);
                .user-img {
                    vertical-align: center;
                }
                @include mob() {
                    width: vwm(50);
                    height: vwm(50);
                    background: url(../img/menu-red.svg) no-repeat center center / cover;
                    img {
                        display: none;
                    }
                }
            }
        }
        &.n {
            background-color: #fff;
            .nav {
                @include mob() {
                    height: vwm(100);
                    border-top: 2px solid #000;
                    border-bottom: 1px solid #000;
                }
                .user-logo {
                    @include mob() {
                        width: vwm(50);
                        height: vwm(50);
                        background-image: url(../img/menu.svg);
                    }
                }
            }
        }
    }
    .n-sub-nav {
        font-size: vw(16);
        padding: vw(10) 0;
        border-bottom: 1px solid #dadada;
        .sub-nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: vw(1320);
            margin: 0 auto;
            .sub-nav-logo {
                width: vw(50);
            }
            .sub-nav-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .sub-nav-item {
                    margin-left: vw(60);
                }
            }
        }
    }
    .n-kv {
        position: relative;
        margin-bottom: vw(40);
        min-height: vw(800);
        @include mob() {
            margin: 0 auto;
            width: vwm(720);
            min-height: vwm(1065);
        }
        .kv-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            @include mob() {
                color: #000;
                top: vwm(70);
                left: vwm(30);
                transform: translate(0, 0);
            }
            .kv-description {
                font-size: vw(120);
                font-weight: 400;
                @include mob() {
                    font-size: vwm(110);
                    margin-bottom: vwm(20);
                }
                .show-mob {
                    display: inline-block !important;
                }
            }
            .n-desc {
                span {
                    color: #000;
                }
            }
        }
        .kv-pagination {
            position: absolute;
            bottom: vwm(30);
            left: 50%;
            transform: translateX(-50%);
            .pagination-item {
                display: inline-block;
                width: vwm(68);
                height: vwm(6);
                border-radius: 2px;
                background-color: #948280;
                &.active {
                    background-color: #fff;
                }
            }
        }
    }
    .n-new {
        @include mob() {
            display: none;
        }
        .new-content {
            .new-row {
                display: flex;
                margin: 0 vw(-13);
                .new-col {
                    width: 50%;
                    max-width: 50%;
                    flex: 0 0 50%;
                    padding: 0 vw(13);
                    .new-item {
                        position: relative;
                        .new-summary {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            background-color: rgba(255, 255, 255, 0.5);
                            padding: vw(30);
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            .n-desc {
                                flex: 0 0 60%;
                                width: 60%;
                                max-width: 60%;
                                margin: 0;
                            }
                            .btn-group {
                                flex: 0 0 40%;
                                width: 40%;
                                max-width: 40%;
                                text-align: right;
                                .n-buy-btn {
                                    font-size: vw(16);
                                    margin-left: vw(20);
                                    background-color: #fff;
                                    border-radius: vw(20);
                                    border: 1px solid #999;
                                    padding: vw(5) vw(15);
                                    line-height: vw(33);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .n-city {
        position: relative;
        @include mob() {
            border-top: 1px solid #999;
            border-bottom: 1px solid #999;
        }
        .city-container {
            .city-item {
                @include mob() {
                    margin-bottom: vwm(40);
                }
            }
            .city-summary {
                position: absolute;
                left: 0;
                bottom: 0;
                padding: vw(30);
                @include mob() {
                    position: relative;
                    left: auto;
                    bottom: auto;
                    padding: 0;
                    margin-top: vwm(20);
                }
                .n-desc {
                    min-height: auto;
                }
                .n-more {
                    @include mob() {
                        position: absolute;
                        right: vwm(10);
                        top: vwm(10);
                    }
                }
            }
        }
    }
    .n-fun,
    .n-explore {
        .fun-content {
            .fun-row {
                display: flex;
                margin: 0 vw(-13);
                .fun-col {
                    width: 33.33%;
                    max-width: 33.33%;
                    flex: 0 0 33.33%;
                    padding: 0 vw(13);
                    .fun-item {
                        position: relative;
                        .fun-img {
                            position: relative;
                            margin-bottom: vw(20);
                        }
                    }
                }
            }
        }
    }
    .n-fun {
        @include mob() {
            border-bottom: 1px solid #999;
        }
    }
    .n-explore {
        @include mob() {
            border-bottom: none;
            margin-bottom: vwm(120);
        }
        .fun-content {
            .fun-row {
                flex-wrap: wrap;
                @include mob() {
                    margin: 0;
                }
                .fun-col {
                    @include mob() {
                        width: 100%;
                        max-width: 100%;
                        flex: 0 0 100%;
                        padding: 0;
                    }
                    .fun-item {
                        .fun-img {
                            @include mob() {
                                margin-bottom: vwm(20);
                            }
                        }
                        .fun-summary {
                            @include mob() {
                                position: absolute;
                                top: vwm(50);
                                left: vwm(30);
                                width: vwm(400);
                            }
                            .n-desc {
                                line-height: auto;
                                height: auto;
                                min-height: auto;
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                @include mob() {
                                    -webkit-line-clamp: 2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .n-about,
    .n-about-mob {
        position: relative;
        .about-contanier {
            position: relative;
            .about-content {
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;
                @include mob() {
                    top: 82%;
                }
                .n-description {
                    font-size: vw(76);
                    font-weight: 400;
                    @include mob() {
                        font-size: vwm(32);
                    }
                }
            }
        }
    }
    .n-about-mob {
        .about-contanier {
            .about-row {
                display: flex;
                flex-wrap: wrap;
                margin: 0 vwm(-8);
                .about-col {
                    max-width: 50%;
                    width: 50%;
                    flex: 0 0 50%;
                    padding: vwm(8) vwm(8) vwm(8) vwm(8);
                    &:first-child {
                        width: 100%;
                        max-width: 100%;
                        flex: 0 0 100%;
                    }

                    .about-item {
                        position: relative;
                        text-align: center;
                        .about-content-mob {
                            top: 50%;
                        }
                        .n-description {
                            font-size: vwm(32);
                        }
                    }
                }
            }
        }
    }
}
