.show-pc {
    @include mob() {
        display: none !important;
    }
}

.show-mob {
    display: none !important;

    @include mob() {
        display: block !important;
    }
}

.s-kv {
    width: 100%;
    padding-bottom: vw(50);
    background-color: #000;
    min-height: vw(800);

    .s-kv-main {
        width: 100%;
        position: relative;
        @include mob() {
            width: vwm(720);
            margin: 0 auto;
          }
        .s-kv-img {
            display: block;
        }

        .s-kv-arrow {
            width: vw(100);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            @include mob() {
                width: vwm(90);
            }
        }

        .s-kv-title {
            position: absolute;
            left: vw(170);
            top: vw(70);
            font-size: vw(210);
            color: #e80000;
            //font-weight: bold;
            line-height: 1;
            @include mob() {
                left: vwm(40);
                top: vwm(30);
                font-size: vwm(100);
            }
        }
    }
}



.s-tmu {
    width: 100%;
    background-color: #000;

    .s-tmu-main {
        width: vw(1820);
        margin: 0 auto;
        padding-bottom: vw(94);
        overflow: hidden;
        @include mob() {
            width: vwm(720);
        }
        .s-tmu-main-row {
            display: flex;
            width: vw(1872);
            flex-wrap: wrap;
            margin: 0 vw(-13);
            box-sizing: border-box;
            @include mob() {
                width: 102%;
                margin: 0 vwm(-7.5);
            }
            .s-tmu-main-col {
                width: 100%;
                max-width: vw(897);
                flex: 0 0 vw(897);
                margin: 0 vw(13);
                background-color: #000;
                padding-bottom: vw(26);
                @include mob() {
                    max-width: 50%;
                        flex: 0 0  50%;
                        padding: 0 vwm(7.5);
                        margin: 0;
                }
                .s-tmu-main-item {
                    position: relative;

                    .s-tmu-img {
                        display: block;
                        width: 100%;
                        @include mob() {
                            height: vwm(352);
                            object-fit: cover;
                            border-radius: vwm(15);
                          }
                    }

                    .s-tmu-position {
                        width: 100%;
                        padding: vw(40);
                        background: rgba(000, 000, 000, 0.5);
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        color: #fff;
                        @include mob() {
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                            background: none;
                            padding: 0;
                            bottom: auto;
                            width: auto;
                        }
                        &>h2 {
                            padding-bottom: vw(16);
                            width: vw(430);
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            @include mob() {
                                padding-bottom: 0;
                                text-align: center;
                                width: 100%;
                            }
                        }

                        .s-tmu-list {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .s-tmu-list-item {
                                color: rgba(255, 255, 255, 0.5);

                                &.type {
                                    width: vw(430);
                                }

                                .s-tmu-list-item-des {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;

                                    &>span {
                                        color: #fff;
                                    }
                                }

                                .s-tmu-wrap {
                                    max-width: vw(300);
                                    //background-color: pink;
                                    color: #c51601;
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;

                                    .s-tmu-buy {
                                        padding: vw(7) vw(15);
                                        background-color: #fff;
                                        max-width: vw(150);
                                        border-radius: vw(6);
                                        color: #000;
                                        margin-left: vw(20);
                                        white-space: nowrap;
                                        overflow: hidden;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }

}

.s-exp {
    width: 100%;
    background-color: #000;
    padding-left: vw(50);
    color: #fff;

    .s-exp-main {
        width: 100%;
        display: flex;
        position: relative;
        padding-bottom: vw(90);

        .s-exp-sta {
            width: 29%;

            .s-exp-sta-title {
                font-size: vw(125);
                line-height: 1;
                margin-bottom: vw(60);

            }

            .s-exp-sta-des {
                width: vw(300);
                color: rgba(255, 255, 255, 0.5);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                min-height: vw(100);
                line-height: 1.5;
            }
        }

        .s-exp-banner {
            width: 71%;
            position: relative;

            .expSwiper {
                width: 100%;

                .swiper-wrapper {
                    width: 100%;

                    .swiper-slide {
                        width: vw(590);
                        padding-right: vw(26);

                        // &:last-child {
                        //     padding-right: vw(50);
                        // }

                        .s-exp-position {
                            width: vw(564);
                            padding: vw(20) vw(26);
                            background: rgba(000, 000, 000, 0.35);
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            color: #fff;

                            &>h2 {
                                padding-bottom: vw(6);
                                width: vw(300);
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                color: rgba(255, 255, 255, 0.85);
                            }

                            .s-exp-list {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .s-exp-list-item {
                                    color: rgba(255, 255, 255, 0.75);

                                    &.type {
                                        width: vw(300);
                                    }

                                    .s-exp-list-item-des {
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;

                                        &>span {
                                            color: #fff;
                                        }
                                    }

                                    .s-exp-wrap {
                                        max-width: vw(300);
                                        //background-color: pink;
                                        color: #c51601;
                                        display: flex;
                                        justify-content: flex-end;
                                        align-items: center;
                                    }
                                }
                            }
                        }

                        .s-exp-position-new {
                            position: absolute;
                            left: vw(30);
                            top: vw(20);
                            color: #ed120c;
                            font-size: vw(28);
                        }
                    }
                }
            }
        }

        .swiper-button-prev {
            left: 0;
        }

        .swiper-button-next {
            right: auto;
            left: vw(80);
        }

        .swiper-button-prev,
        .swiper-button-next {
            color: #ec0402;
            //top: vw(450);
            transform: translateY(277%);
            border: 1px solid rgba(255, 255, 255, 0.4);
            padding: vw(2) vw(20);
        }

        .swiper-button-prev:after,
        .swiper-button-next:after {
            font-size: vw(20);

        }

        .swiper-button-disabled {

            &.swiper-button-prev:after,
            &.swiper-button-next:after {
                opacity: 0.8;
            }


        }

        .swiper-button-prev.swiper-button-disabled,
        .swiper-button-next.swiper-button-disabled {
            opacity: 1;

            ::after {
                opacity: 0.5;
            }
        }

    }
}

.s-joy {
    width: 100%;
    background-color: #000;
    padding-left: vw(50);
    color: #fff;

    .s-joy-main {
        width: 100%;
        display: flex;
        position: relative;
        padding-bottom: vw(94);

        .s-joy-sta {
            width: 29%;

            .s-joy-sta-title {
                font-size: vw(125);
                line-height: 1;
                margin-bottom: vw(60);

            }

            .s-joy-sta-des {
                width: vw(300);
                color: rgba(255, 255, 255, 0.5);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                min-height: vw(100);
                line-height: 1.5;
            }
        }

        .s-joy-banner {
            width: 71%;
            position: relative;

            .joy-row {
                width: 100%;

                .joy-row-wrapper {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;

                    .joy-col {
                        width: vw(590);
                        padding-right: vw(26);
                        position: relative;
                        margin-bottom: vw(26);

                        .s-joy-position {
                            width: vw(564);
                            padding: vw(20) vw(26);
                            background: rgba(000, 000, 000, 0.35);
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            color: #fff;

                            &>h2 {
                                padding-bottom: vw(6);
                                width: vw(300);
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                color: rgba(255, 255, 255, 0.85);
                            }

                            .s-joy-list {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .s-joy-list-item {
                                    color: rgba(255, 255, 255, 0.75);

                                    &.type {
                                        width: vw(300);
                                    }

                                    .s-joy-list-item-des {
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;

                                        &>span {
                                            color: #fff;
                                        }
                                    }

                                    .s-joy-wrap {
                                        max-width: vw(300);
                                        //background-color: pink;
                                        color: #c51601;
                                        display: flex;
                                        justify-content: flex-end;
                                        align-items: center;
                                    }
                                }
                            }
                        }

                        .s-joy-arrow {
                            width: vw(100);
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            cursor: pointer;
                        }

                        .s-joy-position-new {
                            position: absolute;
                            left: vw(30);
                            top: vw(20);
                            color: #ed120c;
                            font-size: vw(28);
                        }
                    }
                }
            }
        }

        .swiper-button-prev {
            left: 0;
        }

        .swiper-button-next {
            right: auto;
            left: vw(80);
        }

        .swiper-button-prev,
        .swiper-button-next {
            color: #ec0402;
            //top: vw(450);
            transform: translateY(277%);
            border: 1px solid rgba(255, 255, 255, 0.4);
            padding: vw(2) vw(20);
        }

        .swiper-button-prev:after,
        .swiper-button-next:after {
            font-size: vw(20);

        }

        .swiper-button-disabled {

            &.swiper-button-prev:after,
            &.swiper-button-next:after {
                opacity: 0.8;
            }


        }

        .swiper-button-prev.swiper-button-disabled,
        .swiper-button-next.swiper-button-disabled {
            opacity: 1;

            ::after {
                opacity: 0.5;
            }
        }

    }
}

.s-fear {
    width: 100%;
    background-color: #000;
    padding-bottom: vw(120);
    color: #fff;
    text-align: center;

    .s-fear-main {
        width: 100%;
        background-color: #160002;
        padding-top: vw(230);
        padding-bottom: vw(150);

        .s-fear-title {
            color: #fff;
            font-size: vw(70);
            position: relative;
            font-weight: bold;

            .s-fear-position {
                width: vw(170);
                height: vw(170);

                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                .s-fear-position-wrap {
                    position: relative;

                    .s-fear-position-wrap-line1 {
                        width: vw(10);
                        height: vw(70);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: rotate(-45deg) translate(-486%, -24%);
                        background-color: #ff0302;
                    }

                    .s-fear-position-wrap-line2 {
                        width: vw(10);
                        height: vw(70);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: rotate(45deg) translate(365%, -6%);
                        background-color: #ff0302;
                    }

                    .s-fear-position-wrap-line3 {
                        width: vw(10);
                        height: vw(70);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: rotate(45deg) translate(318%, 139%);
                        background-color: #ff0302;
                    }

                    .s-fear-position-wrap-line4 {
                        width: vw(10);
                        height: vw(70);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: rotate(-45deg) translate(-460%, 124%);
                        background-color: #ff0302;
                    }

                }
            }
        }

        .s-fear-description {
            color: rgba(255, 255, 255, 0.5);
            margin-top: vw(130);
        }
    }
}

.s-our {
    width: 100%;
    background-color: #000;

    .s-our-main {
        width: vw(1820);
        margin: 0 auto;
        padding-bottom: vw(94);
        overflow: hidden;
        @include mob() {
            width: vwm(720);
            
          }
        .our-title {
            line-height: 1.2;
            font-size: 5.0666666667vw;
            color: #fff;
            padding-top: 16vw;
            padding-bottom: 5.3333333333vw;
        }
        .our-row {
            display: flex;
            margin: 0 vw(-13);
            @include mob() {
                width: vwm(720);
                margin: 0;
                display: block;
              }
            .our-col {
                width: 33.33%;
                max-width: 33.33%;
                flex: 0 0 33.33%;
                padding: 0 vw(13);
                color: #fff;
                @include mob() {
                    width: 100%;
                    max-width: 100%;
                }
                .our-item {
                    position: relative;

                    .our-img {
                        margin-bottom: vw(20);
                        @include mob() {
                            margin-bottom: vwm(15);
                          }
                    }

                    .our-summary {
                        position: absolute;
                        left: 50%;
                        top: vw(36);
                        width: 85%;
                        transform: translateX(-50%);
                        text-align: center;
                        @include mob() {
                            left: vwm(30);
                            top: vwm(47);
                            transform: translateX(0);
                            width: 40%;
                            text-align: left;
                        }
                        .summary-title {
                            @include mob() {
                                font-size: vwm(32);
                              }
                        }
                        .s-desc {
                            color: rgba(255, 255, 255, 0.75);
                            margin-bottom: vw(5);
                            @include mob() {
                                font-size: vwm(22);
                              }
                        }

                        &>a {
                            color: #c51601;
                            @include mob() {
                                font-size: vwm(26);
                              }
                        }
                    }
                }
            }
        }
    }
}

.s-sub-nav {
    font-size: vw(16);
    // padding: 0 0 vw(20) 0;
    padding: vw(10) 0;
    border-bottom: 1px solid #000;
    background-color: #000;
    color: #fff;

    .sub-nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: vw(1320);
        margin: 0 auto;

        .sub-nav-logo {
            width: vw(50);

            &>img {
                //margin-left: vw(36);
            }
        }

        .sub-nav-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .sub-nav-item {
                // margin: 0 vw(30);
                margin-left: 3.125vw;
            }
        }
    }
}



.ninebot {

    .n-footer {
        width: 100%;
        background: #000;
        overflow: hidden;
        border-top: 1px solid #454545;
        @include mob() {
            height: vwm(136);
        }

        .footer-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: vw(20) 0;
            width: vw(1320);
            margin: 0 auto;
            @include mob() {
                width: 100%;
                padding: 0 vwm(15);
                height: 100%;
            }
            .footer-col {
                width: 33.33%;
                max-width: 33.33%;
                flex: 0 0 33.33%;

                &:nth-child(3) {
                    text-align: right;
                }

                .link-n {
                    font-size: vw(26);
                    color: #ababab;
                    @include mob() {
                        font-size: vwm(32);
                    }
                }

                .footer-line {
                    width: vw(60);
                    height: vw(3);
                    background-color: #000;
                    margin: 0 auto;
                    position: relative;
                    @include mob() {
                        transform: scale(2);
                    }

                    .s-fear-position {
                        width: vw(170);
                        height: vw(170);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: scale(0.4) translate(-122%, -128%);
                        display: block;

                        .s-fear-position-wrap {
                            position: relative;

                            .s-fear-position-wrap-line1 {
                                width: vw(10);
                                height: vw(70);
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: rotate(-45deg) translate(-486%, -27%);
                                background-color: #ff0302;
                            }

                            .s-fear-position-wrap-line2 {
                                width: vw(10);
                                height: vw(70);
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: rotate(45deg) translate(365%, -6%);
                                background-color: #ff0302;
                            }

                            .s-fear-position-wrap-line3 {
                                width: vw(10);
                                height: vw(70);
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: rotate(45deg) translate(318%, 150%);
                                background-color: #ff0302;
                            }

                            .s-fear-position-wrap-line4 {
                                width: vw(10);
                                height: vw(70);
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: rotate(-45deg) translate(-482%, 132%);
                                background-color: #ff0302;
                            }

                        }
                    }
                }

                .link-s {
                    font-size: vw(42);
                    font-weight: 700;
                    color: #c51601;
                    @include mob() {
                        font-size: vwm(42);
                    }
                }
            }
        }

        &.n {
            border-top: 1px solid #dadada;
            background: #fff;

            .footer-row {
                .footer-col {
                    .link-n {
                        font-size: vw(42);
                        color: #000;
                        @include mob() {
                            font-size: vwm(42);
                        }
                    }

                    .footer-line {
                        width: vw(60);
                        height: vw(3);
                        background-color: #000;
                        margin: 0 auto;

                        .s-fear-position {
                            display: none;
                        }
                    }

                    .link-s {
                        font-size: vw(26);
                        font-weight: 700;
                        color: #c51601;
                        @include mob() {
                            font-size: vwm(32);
                        }
                    }
                }
            }
        }
    }
}

.s-upside {
    @include mob() {
        width: 100%;
        background-color: #000;
    }

    .s-upside-main {
        @include mob() {
            width: vwm(720);
            margin: 0 auto;
        }

        .s-upside-kv {
            @include mob() {
                width: 100%;
                position: relative;

            }

            .s-kv-img {
                @include mob() {
                    display: block;
                }

            }

            .s-kv-list {
                @include mob() {
                    width: vwm(300);
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    left: 50%;
                    bottom: vwm(40);
                    transform: translateX(-50%);
                }

                &>li {
                    &.active {
                        background-color: #fff;
                    }

                    @include mob() {
                        width: vwm(68);
                        height: vwm(6);
                        background-color: #948280;
                    }
                }
            }
        }

        .s-upside-thrill {
            @include mob() {
                padding-top: vwm(160);
            }

            .s-upside-thrill-for {
                @include mob() {
                    line-height: 1.2;
                    font-size: vwm(38);
                    color: #fff;
                    padding-bottom: vwm(46);
                    border-bottom: 1px solid #f60200;
                }
            }

            .s-upside-thrill-title {
                @include mob() {
                    position: relative;
                    color: #f60200;
                    font-size: vwm(30);
                    padding: vwm(40) 0;
                }

                &>span {
                    @include mob() {
                        color: #929292;
                    }
                }

                .s-fear-position {
                    @include mob() {
                        width: vw(170);
                        height: vw(170);
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: scale(0.7) translateY(-50%);
                        display: block;
                        margin-top: vwm(-10);
                        .s-fear-position-wrap {
                            position: relative;

                            .s-fear-position-wrap-line1 {
                                width: vw(10);
                                height: vw(70);
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: rotate(-45deg) translate(-486%, -27%);
                                background-color: #ff0302;
                            }

                            .s-fear-position-wrap-line2 {
                                width: vw(10);
                                height: vw(70);
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: rotate(45deg) translate(365%, -6%);
                                background-color: #ff0302;
                            }

                            .s-fear-position-wrap-line3 {
                                width: vw(10);
                                height: vw(70);
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: rotate(45deg) translate(318%, 150%);
                                background-color: #ff0302;
                            }

                            .s-fear-position-wrap-line4 {
                                width: vw(10);
                                height: vw(70);
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: rotate(-45deg) translate(-482%, 132%);
                                background-color: #ff0302;
                            }

                        }
                    }

                }

            }
           
        }
        .s-upside-off {
            @include mob() {
                width: 100%;

            }
            .s-upside-off-item {
                .s-upside-off-text {
                    @include mob() {
                        position: relative;
                        width: 100%;
                        padding-top: vwm(30);
                        padding-bottom: vwm(56);
                        color: #dbdbdb;
                        .s-upside-off-title {
                            font-size: vwm(32);
                            padding-bottom: vwm(3);
                        }
                        .s-upside-off-desc {
                            font-size: vwm(22);
                        }
                        .s-upside-more {
                            position: absolute;
                            right: vwm(15);
                            top: vwm(45);
                            font-size: vwm(22);
                            display: block;
                            color: #f60200;
                            display: flex;
                            .more-img {
                                width: vwm(15);
                                object-fit: cover;
                                margin-left: vwm(6);
                                margin-top: vwm(5);
                            }
                        }
                    }
                }
                
            }
            
        }
        .s-upside-ride {
            @include mob() {
               
            }

            .s-upside-ride-for {
                @include mob() {
                    line-height: 1.2;
                    font-size: vwm(38);
                    color: #fff;
                    padding-bottom: vwm(46);
                    border-bottom: 2px solid #f60200;
                }
            }

            .s-upside-ride-title {
                @include mob() {
                    position: relative;
                    color: #f60200;
                    font-size: vwm(30);
                    padding: vwm(40) 0;
                    border-top: 1px solid #f60200;
                }

                &>span {
                    @include mob() {
                        color: #929292;
                    }
                }

                .s-fear-position {
                    @include mob() {
                        width: vw(170);
                        height: vw(170);
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: scale(0.7) translateY(-50%);
                        display: block;
                        margin-top: vwm(-10);
                        .s-fear-position-wrap {
                            position: relative;

                       

                        }
                    }

                }

            }
           
        }
        .s-upside-about {
            @include mob() {
                line-height: 1.2;
                font-size: vwm(38);
                color: #fff;
                padding-top: vwm(120);
                padding-bottom: vwm(40);
            }
        }
    }
}