---
import Layout from "../layouts/Layout.astro";
import DemoImg from "../components/animation/demo-img.astro";
import Airpods from "../components/animation/airpods.astro";
import Airplanes from "../components/animation/airplanes.astro";
import Slide from "../components/animation/slide.astro";
import Loop from "../components/animation/loop.astro";
import Horizontal from "../components/animation/horizontal.astro";
---

<Layout title="Welcome to Animate.">
    <main class="ninebot">
        <Airplanes />
        <Horizontal />
        <Loop />
        <Slide />
        <Airpods />
        <DemoImg />
    </main>
</Layout>

<script>
</script>
