---
import Layout from "../layouts/Layout.astro";
import DemoImg from "../components/animation/demo-img.astro";
import Airpods from "../components/animation/airpods.astro";
import ImgLoop from "../components/animation/imgLoop.astro";
import Airplanes from "../components/animation/airplanes.astro";
---

<Layout title="Welcome to Animate.">
    <main class="ninebot">
        <!-- <DemoImg />
        <Airpods /> -->
        <Airplanes />
        <!-- <ImgLoop /> -->
    </main>
</Layout>

<script>
</script>
