---
import Layout from "../layouts/Layout.astro";
import NinebotHeader from "../components/n/ninebot-header.astro";
import NinebotFooter from "../components/n/ninebot-footer.astro";
import SNav from "../components/s/s-nav.astro";
import Skv from "../components/s/s-kv.astro";
import STmu from "../components/s/s-tmu.astro";
import SExp from "../components/s/s-exp.astro";
import SJoy from "../components/s/s-joy.astro";
import SFear from "../components/s/s-fear.astro";
import SOur from "../components/s/s-our.astro";
import SUpside from "../components/s/s-upside.astro";
---

<Layout title="Welcome to Demo.">
    <main class="ninebot">
        <NinebotHeader />
        <div class="content lazy-content hidden">
            <SNav />
            <SUpside />
            <Skv />
            <STmu />
            <SExp />
            <SJoy />
            <SFear />
            <SOur />
        </div>
        <NinebotFooter />
    </main>
</Layout>

<script>
    import axios from "axios";
    // 创建 Intersection Observer
    const observer = new IntersectionObserver(function (entries, observer) {
        entries.forEach(function (entry) {
            if (entry.isIntersecting) {
                // 元素进入视口，加载内容
                let lazyContent = entry.target;
                lazyContent.classList.remove("hidden");
                observer.unobserve(lazyContent);
            }
        });
    });

    let lazyContents = document.querySelectorAll(".lazy-content");
    lazyContents.forEach((content) => {
        observer.observe(content);
    });

    // 监听 main 元素
    var main = document.querySelector(".content");
    observer.observe(main);

    let isPending = true;
    let targetNode;
    let page;
    let controller = new AbortController();

    async function getPage() {
        try {
            const response = await axios.get(import.meta.env.BASE_URL + "/main", {
                signal: controller.signal,
            });
            isPending = false;
            return response.data;
        } catch (error) {
            isPending = false;
            // console.error(error);
        }
    }

    function setHtml() {
        page.then((data) => {
            if (typeof data === "undefined") {
                return false;
            }
            const parser = new DOMParser();
            const htmlDocument = parser.parseFromString(data, "text/html");

            // 获取指定的 DOM 节点
            targetNode = htmlDocument.querySelector(".content-ninebot");

            // 对节点的内容进行预加载
            targetNode.querySelectorAll("img").forEach((item) => {
                const preloadImage = new Image();
                preloadImage.src = item.src;
            });
            const currentNode = document.querySelector(".content");
            if (document.querySelector(".content") == null) {
                return false;
            }
            currentNode.parentNode.replaceChild(targetNode, currentNode);
            if (typeof window.initExpSwiper === "function") {
                window.initExpSwiper();
            }
        });
    }

    window.addEventListener("load", function () {
        page = getPage();
    });

    function selectNinebot(e) {
        e.preventDefault();
        if (document.querySelector(".content") == null) {
            return false;
        }
        if (isPending) {
            controller.abort();
            if (controller.signal.aborted) {
                controller = new AbortController();
                page = getPage();
                setHtml();
            }
        } else {
            setHtml();
        }
        document.querySelector(".logo-s").classList.remove("active");
        document.querySelector(".logo-n").classList.add("active");
        document.querySelector(".n-header").classList.add("n");
        document.querySelector(".n-footer").classList.add("n");
        if (!e.target.classList.contains("link-n")) {
            setTimeout(() => {
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }, 500);
        }
    }

    function selectSegway(e) {
        e.preventDefault();
        targetNode = document.querySelector(".content-ninebot");
        if (document.querySelector(".content-ninebot") == null) {
            return false;
        }
        targetNode.parentNode.replaceChild(currentNode, targetNode);
        document.querySelector(".logo-n").classList.remove("active");
        document.querySelector(".logo-s").classList.add("active");
        document.querySelector(".n-header").classList.remove("n");
        document.querySelector(".n-footer").classList.remove("n");
        if (!e.target.classList.contains("link-s")) {
            setTimeout(() => {
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }, 500);
        }
    }

    const siteS = document.querySelector(".logo-s");
    const siteN = document.querySelector(".logo-n");
    const siteFooterS = document.querySelector(".link-s");
    const siteFooterN = document.querySelector(".link-n");
    const currentNode = document.querySelector(".content");
    siteN.addEventListener("click", selectNinebot);
    siteS.addEventListener("click", selectSegway);
    siteFooterN.addEventListener("click", selectNinebot);
    siteFooterS.addEventListener("click", selectSegway);
</script>
