---
import Layout from '../layouts/Layout.astro';
import Nkv from '../components/n-kv.astro';
---

<Layout title="Welcome to Astro.">
	<main>
        <Nkv/>
	</main>
</Layout>

<style lang="scss">
	main {
	}
</style>
