---
import Layout from "../layouts/Layout.astro";
import NinebotSubNav from "../components/n/ninebot-sub-nav.astro";
import NinebotKV from "../components/n/ninebot-kv.astro";
import NinebotNew from "../components/n/ninebot-new.astro";
import NinebotCity from "../components/n/ninebot-city.astro";
import NinebotFun from "../components/n/ninebot-fun.astro";
import NinebotAbout from "../components/n/ninebot-about.astro";
import NinebotExplore from "../components/n/ninebot-explore.astro";
---

<Layout title="Welcome to Demo.">
	<main class="ninebot">
		<div class="content-ninebot">
            <NinebotSubNav />
            <NinebotKV />
            <NinebotNew />
            <NinebotCity />
            <NinebotFun />
            <NinebotAbout />
            <NinebotExplore />
        </div>
	</main>
</Layout>

<style lang="scss">
	main {
	}
</style>
