---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Skv from '../components/s-kv.astro';
import STmu from '../components/s-tmu.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Skv/>
		<STmu/>
	</main>
</Layout>

<style lang="scss">
	main {
	}
</style>
