---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SHeader from '../components/s-header.astro';
import SNav from '../components/s-nav.astro';
import Skv from '../components/s-kv.astro';
import STmu from '../components/s-tmu.astro';
import SExp from '../components/s-exp.astro';
import SJoy from '../components/s-joy.astro';
import SFear from '../components/s-fear.astro';
import SOur from '../components/s-our.astro';
import SFooter from '../components/s-footer.astro';
---

<Layout title="Welcome to Astro.">
	<main class="ninebot">
		<SHeader/>
		<SNav/>
		<Skv/>
		<STmu/>
		<SExp/>
		<SJoy/>
		<SFear/>
		<SOur/>
		<SFooter/>
	</main>
</Layout>

<style lang="scss">
	main {
	}
</style>
