---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Skv from '../components/s-kv.astro';
---

<Layout title="Welcome to Astro.">
	<main>
        main
        <Card/>
		<Skv/>
	</main>
</Layout>

<style lang="scss">
	main {
	}
</style>
