---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Skv from '../components/s-kv.astro';
import STmu from '../components/s-tmu.astro';
import SThr from '../components/s-thr.astro';
import SExp from '../components/s-exp.astro';
import SJoy from '../components/s-joy.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Skv/>
		<STmu/>
		<SThr/>
		<SExp/>
		<SJoy/>
	</main>
</Layout>

<style lang="scss">
	main {
	}
</style>
