<nav>
    <ul class="nav-list">
        <li class="nav-item">Home</li>
        <li class="nav-item">AboutServicesServices</li>
        <li class="nav-item active">ServicesServicesServices</li>
        <li class="nav-item">Contact</li>
    </ul>
    <div class="slider"></div>
</nav>
<style lang="scss">
    nav {
        position: relative;
        width: 100%;
        background-color: #333;
    }

    .nav-list {
        z-index: 2;
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .nav-item {
        padding: 15px 20px;
        color: white;
        cursor: pointer;
        position: relative;
    }

    .slider {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #f39c12;
        transition: all 0.3s ease;
    }
</style>

<script>
    // script.js
    document.addEventListener("DOMContentLoaded", function () {
        const navItems = document.querySelectorAll(".nav-item");
        const slider = document.querySelector(".slider") as HTMLDivElement;

        function moveSliderToElement(element: HTMLElement) {
            const itemRect = element.getBoundingClientRect();
            const navRect = (element.parentElement as HTMLElement).getBoundingClientRect();

            slider.style.width = `${itemRect.width}px`;
            slider.style.left = `${itemRect.left - navRect.left}px`;
        }

        function setActiveElement(element: HTMLElement) {
            navItems.forEach((item) => item.classList.remove("active"));
            element.classList.add("active");
        }
        navItems.forEach((item) => {
            item.addEventListener("mouseenter", function () {
                moveSliderToElement(item as HTMLElement);
            });

            item.addEventListener("mouseleave", function () {
                const activeElement = document.querySelector(".nav-item.active") as HTMLElement;
                if (activeElement) {
                    moveSliderToElement(activeElement);
                }
            });

            item.addEventListener("click", function () {
                setActiveElement(item as HTMLElement);
                moveSliderToElement(item as HTMLElement);
            });
        });
        // Move the slider to the initially active element
        const initialActiveElement = document.querySelector(".nav-item.active") as HTMLElement;
        if (initialActiveElement) {
            moveSliderToElement(initialActiveElement);
        }
    });
</script>

<section class="scooter-item">
	<div class="item-container">
		<div class="item-top">
			 <img src="https://fastly.picsum.photos/id/10/270/230.jpg?hmac=oLsYe2I3OAwtBq7ojiK5vJ5jiRiBl3k86wmvtfxaAZA" alt="">
		</div>
		<div class="item-logo">
			<img class="show-pc" src={`${import.meta.env.BASE_URL}/img/n/icon/logo-full-n.jpg`} />
		</div>
		<div class="item-summary">
			<img class="summary-img" src="https://fastly.picsum.photos/id/291/240/60.jpg?hmac=X3IIXIfEKFZwbv9KDdrebfyN0yqGpOWy-kmoD-ZzS0E" alt="">
			<div class="summary-desc"> non ad nulla tempor laboris ullamco est amet</div>
		</div>
		<div class="item-more">
			<div class="item-btn">
				<a class="n-more" href="javascript:void(0);">Learn More <img src={`${import.meta.env.BASE_URL}/img/n/icon/arrow-red.svg`} alt="" /></a>
			</div>
			<div class="item-buy">
				<a class="buy-btn" href="javascript:void(0);" >Buy</a>
			</div>
		</div>
		<div class="item-nums">
			<div class="num-text">
				<h3 class="num-title">24.8<span>G</span></h3>
				<p class="num-desc">non ad nulla tempor</p>
			</div>
			<div class="num-text">
				<h3 class="num-title">1.02<span>G</span></h3>
				<p class="num-desc">est amet</p>
			</div>
			<div class="num-text">
				<h3 class="num-title">96<span>G</span></h3>
				<p class="num-desc">laboris ullamco</p>
			</div>
			<div class="num-text">
				<h3 class="num-title">15.5<span>G</span></h3>
				<p class="num-desc">nulla tempor laboris</p>
			</div>
		</div>
	</div>
</section>

<style lang="scss">
 	.scooter-item{
		font-size: 16px;
		width:100%;
		display: flex;
		justify-content: center;
		.item-container{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 270px;
			.item-top{
				margin-bottom: 40px;
			}
			.item-logo{
				width: 100px;
				margin-bottom: 10px;
			}
			.item-summary{
				text-align: center;
				color: #666;
				.summary-img{
					padding: 0 15px;
				}
			}
			.item-more{
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				padding:40px 30px;
				border-bottom: 1px solid #999;
				.item-btn{
					.n-more {
						color: #c51601;
						img {
							display: inline-block;
							width: 15px;
							vertical-align: middle;
							margin-left: 5px;
						}
					}
				}
				.item-buy{
					.buy-btn {
						margin-left: 20px;
						background-color: #fff;
						border-radius:20px;
						border: 1px solid #999;
						padding: 5px 15px;
						line-height: 33px;
					}
				}
			}
			.item-nums{
				margin-top: 30px;
				.num-text{
					text-align: center;
					margin: 30px 0;
					.num-title{
						font-size: 24px;
						span{
							color: #666;
							font-size: 16px;
							font-weight: 400;
						}
					}
					.num-desc{
						font-size: 16px;
						color: #666;
					}
				}
			}
		}
	}
</style>