---
import Item from "../components/item.astro";
---

<div class="product black">
    <div class="product-nav">
        <h2 class="product-title">Find Your Product</h2>
        <div class="product-navbar">
            <div class="type">
                Super Scooter
                <span></span><b></b>
            </div>
            <nav>
                <ul class="nav-list">
                    <li class="nav-item active">Off-road</li>
                    <li class="nav-item">All-terrain</li>
                    <li class="nav-item">City</li>
                    <li class="nav-item">LightWeight</li>
                    <li class="nav-item">Kids</li>
                </ul>
                <div class="slider"></div>
            </nav>
        </div>
    </div>
    <div class="swiper parentSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide parent-slide1">
                <div class="parent-slide-item">
                    <div class="banner swiper-no-swiping">
                        <!-- <img src="https://picsum.photos/800/200?random=1" alt="" /> -->
                    </div>
                    <div class="swiper kidSwiper kidSwiper1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="items">
                                    <Item num="1" />
                                    <Item num="2" />
                                    <Item num="3" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="items">
                                    <Item num="21" />
                                    <Item num="22" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="items">
                                    <Item num="31" />
                                    <Item num="32" />
                                    <Item num="33" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="items">
                                    <Item num="41" />
                                    <Item num="42" />
                                    <Item num="43" />
                                    <Item num="44" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="items">
                                    <Item num="51" />
                                    <Item num="52" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide parent-slide2">
                <div class="parent-slide-item">
                    <div class="banner swiper-no-swiping">
                        <img src="https://picsum.photos/800/200?random=2" alt="" />
                    </div>
                    <div class="swiper kidSwiper kidSwiper2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="items">
                                    <Item num="11" />
                                    <Item num="12" />
                                    <Item num="13" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="items">
                                    <Item num="121" />
                                    <Item num="122" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="items">
                                    <Item num="131" />
                                    <Item num="132" />
                                    <Item num="133" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="items">
                                    <Item num="141" />
                                    <Item num="142" />
                                    <Item num="143" />
                                    <Item num="144" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="items">
                                    <Item num="151" />
                                    <Item num="152" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<style lang="scss">
    @import "../styles/_common.scss";
    .product {
        position: relative;
        overflow: hidden;
        --black: #000;
        --white: #fff;
        .parentSwiper {
            // width: vw(1560);
        }
        .kidSwiper1 {
            margin: 0 vw(-50);
        }
        .kidSwiper2 {
            margin: 0 vw(-50);
        }
        .swiper-slide {
            flex-shrink: 1;
        }
        .items {
            display: flex;
        }
        .parent-slide1 {
            padding: 0 vw(200);
            padding-top: vw(300);
            position: static;
            background-color: var(--black, #000);
        }
        .parent-slide2 {
            padding: 0 vw(200);
            padding-top: vw(300);
            position: static;
            background-color: var(--white, #fff);
        }
        .parent-slide-item {
            margin: 0 vw(50);
            overflow: hidden;
        }
        .banner {
            padding: vw(50) 0;
            width: 100%;
            pointer-events: none;
        }
    }
    .product-nav {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 vw(250);
    }
    .product-title {
        z-index: 3;
        position: relative;
        padding: vw(100) 0 vw(50);
        font-size: vw(50);
        color: transparent;
        transition: color 0.3s ease;
        background-color: #fff;
        background-clip: text;
    }
    .product-navbar {
        display: flex;
        .type {
            position: relative;
            color: #c51601;
            font-size: 16px;
            padding: 15px 20px;
            border: 1px solid #c51601;
            margin-right: 30px;
            font-weight: bold;
            background-color: black;
            transition: all 0.3s ease;
            span,
            b {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            span {
                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 2px;
                    top: -1px;
                    left: 0;
                    background-color: #c51601;
                    transform: rotate(45deg);
                    transform-origin: 0 0;
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 2px;
                    top: -1px;
                    right: 0;
                    background-color: #c51601;
                    transform: rotate(-45deg);
                    transform-origin: 100% 0;
                }
            }
            b {
                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 2px;
                    bottom: -1px;
                    left: 0;
                    background-color: #c51601;
                    transform: rotate(-45deg);
                    transform-origin: 0 0;
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 2px;
                    bottom: -1px;
                    right: 0;
                    background-color: #c51601;
                    transform: rotate(45deg);
                    transform-origin: 100% 0;
                }
            }
        }
    }

    .white {
        .product-title {
            // color: #000;
            background-color: #000;
        }
        .product-navbar {
            .type {
                background-color: #fff;
                border-color: #000;
                color: black;
                border-radius: 27px;
                span,
                b {
                    display: none;
                }
            }
        }
    }

    nav {
        position: relative;
        border-top: 1px solid #ccc;
        border-bottom: 2px solid #ccc;
        transition:
            border 0.3s ease,
            border-radius 0.3s ease;
    }

    .white {
        nav {
            border: 1px solid #ccc;
            border-radius: 27px;
        }
    }

    .nav-list {
        z-index: 2;
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .nav-item {
        padding: 15px 20px;
        font-size: 16px;
        color: white;
        cursor: pointer;
        position: relative;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .white {
        .nav-item {
            color: black;
            &.active {
                color: white;
            }
        }
    }

    .slider {
        z-index: 1;
        position: absolute;
        top: 5px;
        left: 0;
        width: 0;
        height: calc(100% - 10px);
        background-color: #c51601;
        transition: all 0.3s ease;
    }

    .white {
        .slider {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #000;
            border-radius: 27px;
        }
    }
</style>

<script>
    import Swiper from "swiper";
    document.addEventListener("DOMContentLoaded", function () {
        const navItems = document.querySelectorAll(".product .nav-item");
        const navItemsBlack = document.querySelectorAll(".product.black .nav-item");
        const navItemsWhite = document.querySelectorAll(".product.white .nav-item");
        const slider = document.querySelector(".product .slider") as HTMLDivElement;

        function moveSliderToElement(element: HTMLElement) {
            const itemRect = element.getBoundingClientRect();
            const navRect = (element.parentElement as HTMLElement).getBoundingClientRect();

            slider.style.width = `${itemRect.width}px`;
            slider.style.left = `${itemRect.left - navRect.left}px`;
        }

        function setActiveElement(element: HTMLElement) {
            navItems.forEach((item) => item.classList.remove("active"));
            element.classList.add("active");
        }
        navItems.forEach((item, index) => {
            item.addEventListener("mouseenter", function () {
                moveSliderToElement(item as HTMLElement);
            });

            item.addEventListener("mouseleave", function () {
                const activeElement = document.querySelector(".nav-item.active") as HTMLElement;
                if (activeElement) {
                    moveSliderToElement(activeElement);
                }
            });
        });
        navItemsBlack.forEach((item, index) => {
            item.addEventListener("click", function () {
                setActiveElement(item as HTMLElement);
                moveSliderToElement(item as HTMLElement);
                kid_Swiper1.slideTo(index, 1000, false);
            });
        });
        navItemsWhite.forEach((item, index) => {
            item.addEventListener("click", function () {
                setActiveElement(item as HTMLElement);
                moveSliderToElement(item as HTMLElement);
                kid_Swiper2.slideTo(index, 1000, false);
            });
        });
        // Move the slider to the initially active element
        const initialActiveElement = document.querySelector(".nav-item.active") as HTMLElement;
        if (initialActiveElement) {
            moveSliderToElement(initialActiveElement);
        }

        var parent_Swiper = new Swiper(".parentSwiper", {
            speed: 2000,
            slidesPerView: 1,
            resistanceRatio: 0,
            noSwiping: true,
            swipeHandler: ".kidSwiper",
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            on: {
                slideChange: function () {
                    if (this.activeIndex == 1) {
                        document.querySelector(".product").classList.remove("black");
                        document.querySelector(".product").classList.add("white");
                        const firstElement = document.querySelectorAll(".product.white .nav-item")[0] as HTMLElement;
                        if (firstElement) {
                            setActiveElement(firstElement as HTMLElement);
                            moveSliderToElement(firstElement as HTMLElement);
                        }
                    } else {
                        document.querySelector(".product").classList.remove("white");
                        document.querySelector(".product").classList.add("black");
                        const navElement = document.querySelectorAll(".product.black .nav-item");
                        const lastElement = navElement[navElement.length - 1] as HTMLElement;
                        if (lastElement) {
                            setActiveElement(lastElement as HTMLElement);
                            moveSliderToElement(lastElement as HTMLElement);
                        }
                    }
                },
            },
        });
        var kid_Swiper1 = new Swiper(".kidSwiper1", {
            slidesPerView: "auto",
            nested: true,
            resistanceRatio: 0,
            freeMode: {
                enabled: true,
                momentumBounce: false,
            },
            on: {
                slideChange: function () {
                    const activeElement = document.querySelectorAll(".product.black .nav-item")[this.activeIndex] as HTMLElement;
                    if (activeElement) {
                        setActiveElement(activeElement as HTMLElement);
                        moveSliderToElement(activeElement as HTMLElement);
                    }
                },
            },
        });
        var kid_Swiper2 = new Swiper(".kidSwiper2", {
            slidesPerView: "auto",
            nested: true,
            resistanceRatio: 0,
            freeMode: {
                enabled: true,
                momentumBounce: false,
            },
            on: {
                slideChange: function () {
                    const activeElement = document.querySelectorAll(".product.white .nav-item")[this.activeIndex] as HTMLElement;
                    if (activeElement) {
                        setActiveElement(activeElement as HTMLElement);
                        moveSliderToElement(activeElement as HTMLElement);
                    }
                },
            },
        });
    });
</script>
