<footer class="n-footer s">
    <div class="footer-content">
        <a href="javascript:;" class="link-n">NINEBOT</a>
        <div class="footer-line">
            <div class="s-fear-position">
                <div class="s-fear-position-wrap">
                    <div class="s-fear-position-wrap-line1"> </div>
                    <div class="s-fear-position-wrap-line2"> </div>
                    <div class="s-fear-position-wrap-line3"> </div>
                    <div class="s-fear-position-wrap-line4"> </div>
                </div>
            </div>
        </div>
        <a href="javascript:;" class="link-s">SEGWAY</a>
    </div>
</footer>