<footer class="n-footer s">
    <div class="footer-content">
        <a href="javascript:;" class="link-n">NINEBOT</a>
        <div class="footer-line"></div>
        <a href="javascript:;" class="link-s">SEGWAY</a>
    </div>
</footer>