<section class="s-joy show-pc">
    <div class="s-joy-main" data-aos="fade-up">
        <div class="s-joy-sta">
            <div class="s-joy-sta-title">JOY<br>RIDE</div>
            <div class="s-joy-sta-des">
               Id aliqua occaecat.

            </div>
        </div>
        <div class="s-joy-banner">
            <div class="joy-row">
                <div class="joy-row-wrapper">
                    <div class="joy-col">
                        <img class='s-joy-img' src="./img/s/joy-01.jpg" />
                        <div class='s-joy-position'>
                            <h2>Labore</h2>
                            <div class="s-joy-list">
                                <div class="s-joy-list-item type">
                                    <div class="s-joy-list-item-des">
                                        Occaecat adipisicing nulla.
                                    </div>

                                </div>
                                <div class="s-joy-list-item">
                                    <div class="s-joy-list-item">
                                        <div class="s-joy-wrap">
                                            <div class="s-joy-more"><a href="#">Learn more></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='s-joy-position-new'>
                            HOT
                        </div>
                    </div>
                    <div class="joy-col">
                        <img class='s-joy-img' src="./img/s/joy-02.jpg" />
                        <div class='s-joy-position'>
                            <h2>Aliqua dolor</h2>
                            <div class="s-joy-list">
                                <div class="s-joy-list-item type">
                                    <div class="s-joy-list-item-des">
                                        Quis ex velit.
                                    </div>

                                </div>
                                <div class="s-joy-list-item">
                                    <div class="s-joy-list-item">
                                        <div class="s-joy-wrap">
                                            <div class="s-joy-more"><a href="#">Learn more></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="s-joy show-pc">
    <div class="s-joy-main" data-aos="fade-up">
        <div class="s-joy-sta">
            <div class="s-joy-sta-title">LIFE<br>STYLE</div>
            <div class="s-joy-sta-des">
               Sit proident dolor.
            </div>
        </div>
        <div class="s-joy-banner">
            <div class="joy-row">
                <div class="joy-row-wrapper">
                    <div class="joy-col">
                        <img class='s-joy-img' src="./img/s/joy-03.jpg" />
                        <img class='s-joy-arrow' src="./img/s/arrow.png" />
                        <div class='s-joy-position'>
                            <h2>Sint quis</h2>
                            <div class="s-joy-list">
                                <div class="s-joy-list-item type">
                                    <div class="s-joy-list-item-des">
                                       Irure consequat nostrud.
                                    </div>

                                </div>
                                <div class="s-joy-list-item">
                                    <div class="s-joy-list-item">
                                        <div class="s-joy-wrap">
                                            <div class="s-joy-more"><a href="#">Learn more></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="joy-col">
                        <img class='s-joy-img' src="./img/s/joy-04.jpg" />
                        <div class='s-joy-position'>
                            <h2>
                            Aute Lorem
                            </h2>
                            <div class="s-joy-list">
                                <div class="s-joy-list-item type">
                                    <div class="s-joy-list-item-des">
                                        Esse non sunt
                                    </div>

                                </div>
                                <div class="s-joy-list-item">
                                    <div class="s-joy-list-item">
                                        <div class="s-joy-wrap">
                                            <div class="s-joy-more"><a href="#">Learn more></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='s-joy-position-new'>
                            NEW
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="s-joy show-pc">
    <div class="s-joy-main" data-aos="fade-up">
        <div class="s-joy-sta">
            <div class="s-joy-sta-title">ENTER<br>PRISE</div>
            <div class="s-joy-sta-des">
                Commodo.
            </div>
        </div>
        <div class="s-joy-banner">
            <div class="joy-row">
                <div class="joy-row-wrapper">
                    <div class="joy-col">
                        <img class='s-joy-img' src="./img/s/joy-05.jpg" />
                        <div class='s-joy-position'>
                            <h2>Ipsum in</h2>
                            <div class="s-joy-list">
                                <div class="s-joy-list-item type">
                                    <div class="s-joy-list-item-des">
                                        Deserunt enim nulla.
                                    </div>

                                </div>
                                <div class="s-joy-list-item">
                                    <div class="s-joy-list-item">
                                        <div class="s-joy-wrap">
                                            <div class="s-joy-more"><a href="#">Learn more></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="joy-col">
                        <img class='s-joy-img' src="./img/s/joy-06.jpg" />
                        <div class='s-joy-position'>
                            <h2>Quis ea</h2>
                            <div class="s-joy-list">
                                <div class="s-joy-list-item type">
                                    <div class="s-joy-list-item-des">
                                        Excepteur sit tempor.
                                    </div>

                                </div>
                                <div class="s-joy-list-item">
                                    <div class="s-joy-list-item">
                                        <div class="s-joy-wrap">
                                            <div class="s-joy-more"><a href="#">Learn more></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>