<section class="s-kv">
    <div class='s-kv-main'>
        <img class='s-kv-img' src="./img/s/kv-01.jpg" />
        <img class='s-kv-arrow' src="./img/s/arrow.png" />
        <div class='s-kv-title'>
            FEAR<br />NO<br />PLACE.
        </div>
    </div>
</section>