<section class="s-sub-nav">
    <div class="sub-nav-container">
        <div class="sub-nav-logo"><img src="/img/s/icon-2.jpg" /></div>
        <ul class="sub-nav-menu">
            <li class="sub-nav-item"><a class="sub-nav-link" href="javascript:;" >Kids Scooter</a></li>
            <li class="sub-nav-item"><a class="sub-nav-link" href="javascript:;" >About Ninebot</a></li>
            <li class="sub-nav-item"><a class="sub-nav-link" href="javascript:;" >Balencing</a></li>
            <li class="sub-nav-item"><a class="sub-nav-link" href="javascript:;" >Cases Study</a></li>
            <li class="sub-nav-item"><a class="sub-nav-link" href="javascript:;" >Past Events</a></li>
            <li class="sub-nav-item"><a class="sub-nav-link" href="javascript:;" >Upcoming Events</a></li>
        </ul>
    </div>
</section>