<section class="s-tmu">
    <div class='s-tmu-main'>
        <div class='s-tmu-main-row'>
            <div class='s-tmu-main-col'>
                <div class='s-tmu-main-item'>
                    <img class='s-tmu-img' data-aos="fade-up" src="./img/s/tmu-01.jpg" />
                    <div class='s-tmu-position' data-aos="fade-up">
                        <h2>Excepteur reprehenderit</h2>
                        <div class="s-tmu-list">
                            <div class="s-tmu-list-item type">
                                <div class="s-tmu-list-item-des">
                                    <span>Eu sit </span> cillum sint proident amet et aliqua pariatur adipisicing fugiat nulla mollit et id.
                                </div>

                            </div>
                            <div class="s-tmu-list-item">
                                <div class="s-tmu-list-item">
                                    <div class="s-tmu-wrap">
                                        <div class="s-tmu-more"><a href="#">Learn more></a></div>
                                        <div class="s-tmu-buy">
                                            <a href="#">
                                                Buy
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='s-tmu-main-col'>
                <div class='s-tmu-main-item'>
                    <img class='s-kv-img' data-aos="fade-up" src="./img/s/tmu-02.jpg" />
                    <div class='s-tmu-position' data-aos="fade-up">
                        <h2>Qui proident mollit</h2>
                        <div class="s-tmu-list">
                            <div class="s-tmu-list-item type">
                                <div class="s-tmu-list-item-des">
                                    <span>Voluptate incididunt</span> non ad nulla tempor laboris ullamco est amet nostrud nostrud tempor sit minim.
                                </div>

                            </div>
                            <div class="s-tmu-list-item">
                                <div class="s-tmu-list-item">
                                    <div class="s-tmu-wrap">
                                        <div class="s-tmu-more"><a href="#">Learn more></a></div>
                                        <div class="s-tmu-buy">
                                            <a href="#">
                                                Buy
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
