<section class="s-tmu">
    <div class='s-tmu-main'>
        <div class='s-tmu-main-row'>
            <div class='s-tmu-main-col'>
                <div class='s-tmu-main-item'>
                    <img class='s-tmu-img' src="/img/s/tmu-01.jpg" />
                    <div class='s-tmu-position'>
                        <h2>summary-title summary-title white summary-title white</h2>
                        <div class="s-tmu-list">
                            <div class="s-tmu-list-item type">
                                <div class="s-tmu-list-item-des">
                                    <span>Text description</span> Text description
                                    Text description Text description Text description Text description Text description
                                </div>
                                
                            </div>
                            <div class="s-tmu-list-item">
                                <div class="s-tmu-list-item">
                                    <div class="s-tmu-wrap">
                                        <div class="s-tmu-more"><a href="#">Learn more></a></div>
                                        <div class="s-tmu-buy">
                                            <a href="#">
                                                Buy
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='s-tmu-main-col'>
                <div class='s-tmu-main-item'>
                    <img class='s-kv-img' src="/img/s/tmu-02.jpg" />
                    <div class='s-tmu-position'>
                        <h2>text-title</h2>
                        <div class="s-tmu-list">
                            <div class="s-tmu-list-item type">
                                <div class="s-tmu-list-item-des">
                                    <span>Text description</span> Text description Text description Text description
                                </div>
                                
                            </div>
                            <div class="s-tmu-list-item">
                                <div class="s-tmu-list-item">
                                    <div class="s-tmu-wrap">
                                        <div class="s-tmu-more"><a href="#">Learn more></a></div>
                                        <div class="s-tmu-buy">
                                            <a href="#">
                                                Buy
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</section>
